<config>
    <Data>
        <pathToReads1>Path to FASTQ file with the first mates</pathToReads1>
        <pathToReads2>Path to FASTQ file with the second mates</pathToReads2>
        <InsertionLength>1000</InsertionLength>
    </Data>
    <Reference>Path to the default reference in FASTA format</Reference>
    <OutPath>Output path</OutPath>
    <ThreadNumber>-1</ThreadNumber>
	<BatchSize>1000</BatchSize>
    <ReferenceSelector>
		<Enabled>false</Enabled>
        <UseMajor>false</UseMajor>
        <ReferenceMSA>Path to reference MSA in FASTA format</ReferenceMSA>
        <PathToUsearch>Path to vsearch executable</PathToUsearch>
        <UclustIdentity>0.95</UclustIdentity>
        <MinReadLength>50</MinReadLength>
        <MinContigLength>1000</MinContigLength>
        <Delta>0.05</Delta>
		<MaxNongreedyComponentNumber>5</MaxNongreedyComponentNumber>
        <MapperToMSA>
			<K>7</K>
			<pValue>0.01</pValue>
			<IndelToleranceThreshold>1.5</IndelToleranceThreshold>
			<RandomModelParameters>
				<Order>4</Order>
				<ReadNum>10000</ReadNum>
				<Step>10</Step>
			</RandomModelParameters>
        </MapperToMSA>
        <Graph>
            <MinReadNumber>5</MinReadNumber>
            <VertexWeight>10</VertexWeight>
			<SimilarityThreshold>0.5</SimilarityThreshold>
			<Debug>false</Debug>
        </Graph>
        <Debug>false</Debug>
    </ReferenceSelector>
    <Mapper>
		<K>5</K>
        <pValue>0.01</pValue>
		<IndelToleranceThreshold>1.25</IndelToleranceThreshold>
		<RandomModelParameters>
			<Order>4</Order>
			<ReadNum>1000</ReadNum>
			<Step>10</Step>
		</RandomModelParameters>
        <Aligner>
            <Match>2</Match>
            <Mismatch>-3</Mismatch>
            <GapOpenPenalty>5</GapOpenPenalty>
            <GapExtensionPenalty>2</GapExtensionPenalty>
        </Aligner>
    </Mapper>
    <ConsensusBuilder>
        <IdentityThreshold>0.9</IdentityThreshold>
        <CoverageThreshold>0</CoverageThreshold>
        <MinIntersectionLength>10</MinIntersectionLength>
        <MinTerminationReadsNumber>1</MinTerminationReadsNumber>
		<Reassembler>
			<IdentityThreshold>0.9</IdentityThreshold>
			<MinTerminatingSequenceCoverage>0</MinTerminatingSequenceCoverage>
			<PairReadTerminationThreshold>0.1</PairReadTerminationThreshold>
			<MinReadLength>50</MinReadLength>
		</Reassembler>
		<Debug>false</Debug>
    </ConsensusBuilder>
    <Postprocessor>
        <Enabled>true</Enabled>
        <MinFragmentLength>500</MinFragmentLength>
        <MinIdentity>0.99</MinIdentity>
		<MinFragmentCoverage>0.99</MinFragmentCoverage>
        <Debug>false</Debug>
    </Postprocessor>
</config>